html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

#login-img {
  width: 100%;
  height: 95%;
}

#right-side {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.enter {
  background-color: green;
}

.other-selections {
  display: flex;
  justify-content: space-between;
}

#join {
  text-align: center;
}
