/*  Authors:        Tyler Hartleb,
    Initial Date:   02/04/2021
    Last Update:    02/04/2021
    Version:        0.1 alpha

    The function of this css sheet is to provide styling for the splash page of the website.
*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

body, header, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family:    "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
                    Helvetica, Arial, "Lucida Grande", sans-serif, "Quicksand";
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

html, body{
    width: 100%;
    height: 100%;
}

.global_nav {
    z-index: 5;
}

@media only screen and (max-width:767px) {
    
}

@media only screen and (min-width: 768px) {

    .header_content {
        height: 100%;
        width: 100%;
    }

    .login_frame {
        position: absolute;
        width: 21.875%;
        height: 100%;
        right: 0%;
        background: #FF6961;
        border-radius: 45px 0px 0px 45px;
        z-index: 1;
        box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .login {
        position: absolute;
        height: 7.778%;
        width: 57.143%;
        left: 21.429%;
        top: 5.55%;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .login:hover{
        cursor: pointer;
    }

    .login:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .content {
        position: absolute;
        display:grid;
        box-sizing:content-box;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 90px;
        top: 40px;
        padding: 0px;
    }

    .logo {
        position: relative;
        width: 500px;
        height: 70px;
        left: 65px;
        top: 10px;
    }

    .logo_writing {
        position: absolute;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        color: #000000;
        height: 70px;
        width: 231px;
        padding: 0px;
        left: 0px;
    }

    .logo .maple_image {
        position: absolute;
        width: 55px;
        height: 50px;
        padding: 0px;
        margin: 0px;
        left: 230px;
        top: 8px;
        background-image: url("../icons/maple_image.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .menu {
        position: relative;
        width: 750px;
        height: 90px;
    }

    .home {
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100px;
        height: 70px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .home:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .about {
        position: absolute;
        width: 100px;
        height: 70px;
        left: 150px;
        top: 10px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000
    }

    .contact {
        position: absolute;
        width: 100px;
        height: 70px;
        left: 300px;
        top: 10px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .info {
        position: absolute;
        top: 200px;
        left: 70px;
        width: 600px;
        height: 500px;
    }

    .info_main_text {
        position: absolute;
        width: 600px;
        height: 200px;
        left: 0px;
        top: 30px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
    
    .info_sub_text {
        position: absolute;
        width: 600px;
        height: 100px;
        left: 0px;
        top: 220px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3F3F3F;
    }

    .explore {
        position: absolute;
        left: 175px;
        top: 320px;
        width: 250px;
        height: 90px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        background: #FF6961;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .hospital {
        z-index: 5;
        position: absolute;
        left: 43.125%;
        top: 20.22%;
        width: 44.8126%;
        height: 59.55556%;
    }

    .hospital_image { 
        background-image: url("../icons/Hospital.svg");
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
    }

    .about_content {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .about_frame {
        position: absolute;
        width: 21.875%;
        height: 100%;
        background: #4285F4;
        border-radius: 0px 45px 45px 0px;
        box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .doctor_image {
        background-image: url("../icons/Doctors.svg");
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        position: relative;
        width: 68.125%;
        height: 36%;
        left: 11.889%;
        top: 32%;
    }

    .explore_info {
        position: relative;
        height: 400px;
        width: 650px;
        right: 4.375%;
        top: 20%;
    }

    .explore_info_main_text {
        position: absolute;
        width: 650px;
        height: 219px;
        left: 0px;
        top: 31px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .explore_info_bolded_text {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .explore_info_sub_text {
        position: absolute;
        width: 650px;
        height: 164px;
        left: 0px;
        top: 213px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
}
























