/*  
    Authors:        Tyler Hartleb,Adarsha Kanel
    Initial Date:   02/04/2021
    Last Update:    02/06/2021
    Version:        0.2 

    The function of this css sheet is to provide styling for the splash page of the website.
*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

/* The purpose of these next few line is add default behavior onto a few classes */

body, header, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family:    "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
                    Helvetica, Arial, "Lucida Grande", sans-serif, "Quicksand";
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

html, body{
    width: 100%;
    height: 100%;
}

.global_nav {
    z-index: 5;
}

.content_desk {
    visibility: hidden;
    overflow: hidden;
}

.login_frame {
    visibility: hidden;
}

.list {
    visibility: hidden;
    overflow: hidden;
    height: 0px;
}

.content_mobile {
    visibility: hidden;
    overflow: hidden;
    height: 0px;
}


/* This is for the mobile styling */
@media only screen and (max-width: 767px) {

    /* Make the mobile content visible */
    .content_mobile {
        visibility: visible;
    }

    /* Specifying the design constraints as well as spacing for the mobile nav */
    .content_mobile .content_nav{
        display:grid;
        z-index: 5;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        height: 80px;
        width: 100%;
        background: #FF6961;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 45px 0px;
        position: fixed;
        transition: height 0.2s;
    }
    
    /* Make sure the list is hidden as well as set the sizing for the list */
    .list {
        visibility: hidden;
        overflow: hidden;
        box-sizing: content-box;
        position: fixed;
        top: 48px;
        width: 100%;
        height: 0px;
        z-index: 4;
        transition: height 0.2s;
        text-align: center;
    }
    
    /* Specify where this class should be */
    .logo_mobile {
        position:fixed;
        width:50%;
        height: 80px;
    }

    /* Specify where this class should be */
    .logo_mobile_writing {
        position: absolute;
        width: 120px;
        height: 40px;
        left: 20px;
        top: 20px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    /* Specify where this class should be, as well as the background image. */
    .maple_image_mobile {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 140px;
        top: 24px;
        background-image: url("../icons/maple_image_white.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    /* Specify where this class should be */
    .menu_mobile {
        position: absolute;
        width: 29.19%;
        height: 80px;
        right: 0%;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Specify where this class should be */
    .top_button {
        position: absolute;
        width: 50px;
        height: 6px;
        border-radius: 45px;
        background: #FFFFFF;
        right: 20px;
        top: 28px;
        /* Specify on what attributes the class should transition on */
        transition: transform 0.2s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .bottom_button {
        position: absolute;
        width: 40px;
        height: 6px;
        border-radius: 45px;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        right: 20px;
        top: 44px;
        /* Specify on what attribute the class should transition on */
        transition: transform 0.2s;
    }
    
    /* Specify where this class should be, and its content sizing */
    .list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        z-index: 5;
        top: 80px;
        border-radius: 0px 0px 45px 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    }
    
    /* Specify where this class should be */
    .home_mobile {
        position: relative;
        width: 120px;
        height: 40px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    /* Specify where this class should be */
    .about_mobile {
        position: relative;
        width: 120px;
        height: 40px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    /* Specify where this class should be */
    .contact_mobile {
        position: relative;
        width: 120px;
        height: 40px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    /* Specify where this class should be */
    .login_mobile {
        position: relative;
        width: 120px;
        height: 40px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    /* These next lines are for specifying the mobile menu opening transition and behavior */

    /* The menu should open to this height */
    .menu_opening .content_mobile .content_nav {
        height: 310px;
    }
    
    /* The menu should stay at this height when it is "open" (active) */
    .active .content_mobile .content_nav {
        height: 310px;
    }
    
    /* Reset the height for the mobile menu */
    .menu_closing .content_mobile .content_nav {
        height: 80px;
    }
    
    /* Very similar to the above lines just for different classes */
    .menu_opening .list {
        visibility: visible;
        height: 230px;
        background: #FF6961;
    }
    
    .active .list {
        visibility: visible;
        height: 230px;
        background: #FF6961;
    }
    
    .menu_closing .list {
        visibility: hidden;
        height: 0px;
        background: #FF6961;
    } 

    .active .top_button {
        transform: rotate(-45deg);
    }

    .menu_opening .bottom_button {
        width: 50px;
        top: 28px;
    }

    .active .bottom_button {
        width: 50px;
        height: 6px;
        top: 28px;
        transform: rotate(45deg);
    }

    /* This is specifying the behaviour and appearance of the mobile webpage */

    .header_content {
        position: absolute;
        top: 80px;
        height: 100%;
        width: 100%;
    }

    .hospital {
        position: relative;
        height: 30%;
        width: 100%;
        top: 5%;
    }

    .hospital_image { 
        object-fit: scale-down;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
        top: 5%;
    }

    .info_main_text {
        position: relative;
        font-family: Quicksand;
        top: 2.5%;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .info_sub_text {
        position: relative;
        font-family: Quicksand;
        top: 0.5%;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #000000;
        width: 90%;
        left: 5%;
    }

    .explore {
        position: relative;
        top: 5%;
        width: 50%;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 200%;
        display: inline-flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        background: #FF6961;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .explore:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .about_content {
        top: 100%; 
        height: 89.5%;
        width: 100%;
        position: absolute;
    }

    .doctor_image {
        position: relative;
        top: 5%; 
        object-fit: scale-down;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height: 25%;
    }

    .explore_info {
        position: relative;
        top: 5%;
    }

    .explore_info_main_text {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .explore_info_sub_text {
        width: 95%;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

}



/* This is for the desktop styling */
@media only screen and (min-width: 768px) {

    /* All of this code functions the same as the above just for different classes and different values */

    .content_desk {
        visibility: visible;
    }

    .header_content {
        height: 100%;
        width: 100%;
    }

    .login_frame {
        visibility: visible;
        position: absolute;
        width: 21.875%;
        height: 100%;
        right: 0%;
        background: #FF6961;
        border-radius: 45px 0px 0px 45px;
        z-index: 1;
        box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    }

    .login {
        position: absolute;
        height: 7.778%;
        width: 57.143%;
        left: 21.429%;
        top: 5.55%;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .login:hover{
        cursor: pointer;
    }

    .login:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .content_desk {
        position: absolute;
        display:grid;
        box-sizing:content-box;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 90px;
        top: 40px;
        padding: 0px;
    }

    .logo {
        position: relative;
        width: 500px;
        height: 70px;
        left: 65px;
        top: 10px;
    }

    .logo_writing {
        position: absolute;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        color: #000000;
        height: 70px;
        width: 231px;
        padding: 0px;
        left: 0px;
    }

    .logo .maple_image {
        position: absolute;
        width: 55px;
        height: 50px;
        padding: 0px;
        margin: 0px;
        left: 230px;
        top: 8px;
        background-image: url("../icons/maple_image.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .menu {
        position: relative;
        width: 750px;
        height: 90px;
    }

    .home {
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100px;
        height: 70px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .home:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .about {
        position: absolute;
        width: 100px;
        height: 70px;
        left: 150px;
        top: 10px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000
    }

    .about:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .contact {
        position: absolute;
        width: 100px;
        height: 70px;
        left: 300px;
        top: 10px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .contact:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .info {
        position: absolute;
        top: 200px;
        left: 70px;
        width: 600px;
        height: 500px;
    }

    .info_main_text {
        position: absolute;
        width: 600px;
        height: 200px;
        left: 0px;
        top: 30px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
    
    .info_sub_text {
        position: absolute;
        width: 600px;
        height: 100px;
        left: 0px;
        top: 220px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #3F3F3F;
    }

    .explore {
        position: absolute;
        left: 175px;
        top: 320px;
        width: 250px;
        height: 90px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        background: #FF6961;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .explore:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .hospital {
        z-index: 5;
        position: absolute;
        left: 43.125%;
        top: 20.22%;
        width: 44.8126%;
        height: 59.55556%;
    }

    .hospital_image { 
        background-image: url("../icons/Hospital.svg");
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
    }

    .about_content {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .about_frame {
        position: absolute;
        width: 21.875%;
        height: 100%;
        background: #4285F4;
        border-radius: 0px 45px 45px 0px;
        box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .doctor_image {
        background-image: url("../icons/Doctors.svg");
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        position: relative;
        width: 68.125%;
        height: 36%;
        left: 11.889%;
        top: 32%;
    }

    .explore_info {
        position: relative;
        height: 400px;
        width: 650px;
        right: 4.375%;
        top: 20%;
    }

    .explore_info_main_text {
        position: absolute;
        width: 650px;
        height: 219px;
        left: 0px;
        top: 31px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .explore_info_bolded_text {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .explore_info_sub_text {
        position: absolute;
        width: 650px;
        height: 164px;
        left: 0px;
        top: 213px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }
}
























