/*  
    Authors:        Tyler Hartleb,
    Initial Date:   02/08/2021
    Last Update:    02/08/2021
    Version:        0.1

    The function of this css sheet is to provide styling for the dashboard page of the website.
*/

@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

body, header, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family:    "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
                    Helvetica, Arial, "Lucida Grande", sans-serif, "Quicksand";
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}



@media only screen and (max-width:767px) {

}

@media only screen and (min-width:768px) {

    .scroll_bar {
        position: absolute;
        width: 6px;
        height: 30px;
        left: 14px;
        top: 158px;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: top 0.2s linear;
    }
    
    .scroll_bar.dashboard {
        top: 158px;
    }
    
    .scroll_bar.appointments {
        top: 254px;
    }
    .scroll_bar.prescriptions {
        top:350px;
    }

    .scroll_bar.tests {
        top:446px;
    }

    .head_desk {
        visibility: visible;
        position: fixed;
        width:  78.125%;
        top:    0%;
        right:  0%;
        height: 10.0022%;
        background: #ffffff;
    }

    .head_desk .header_text {
        position: absolute;
        width: auto;
        height: 70px;
        right: 10%;
        top: 10px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .head_desk .profile_image {
        position: absolute;
        right: 2.2%;
        top: 10px;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        background: #000000;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .content_desk .sidebar {
        visibility: visible;
        position: fixed;
        width: 21.875%;
        height: 100%;
        left: 0%;
        background: #F56961;
        box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 45px 45px 0px;
    }

    .sidebar .logo_desk {
        position: absolute;
        width: 85%;
        height: 7.78%;
        left: 7.14%;
        top:20px;
    }

    .sidebar .logo_desk .logo_writing_desk {
        position: absolute;
        width: 185px;
        height: 70px;
        left: 0px;
        top: 0px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sidebar .logo_desk .maple_image_desk {
        position: absolute;
        width: 54px;
        height: 50px;
        left: 185px;
        top: 10px;

        background-image: url("../icons/maple_image_white.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .sidebar .menu_desk{
        position: absolute;
        width: 85%;
        height: 82.22%;
        top: 12.556%;
        left: 7.14%;
    }

    .sidebar .menu_desk .dashboard_desk {
        position: absolute;
        width: 300px;
        height: 70px;
        left: 0px;
        top: 25px;
    }

    .sidebar .menu_desk .dashboard_desk .dashboard_desk_image {
        position: absolute;
        width: 27px;
        height: 25px;
        left: 15px;
        top: 22.53px;

        background-image: url(../icons/dashboard.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    .sidebar .menu_desk .dashboard_desk .dashboard_desk_writing {
        position: absolute;
        width: 140px;
        height: 70px;
        left: 50px;
        top: 0px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sidebar .menu_desk .appointments_desk {
        position: absolute;
        width: 300px;
        height: 70px;
        left: 0px;
        top: 120px;
    }

    .sidebar .menu_desk .appointments_desk .appointments_desk_image {
        position: absolute;
        width: 20px;
        height: 28px;
        left: 15px;
        top: 21px;

        background-image: url(../icons/appointments.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .sidebar .menu_desk .appointments_desk .appointments_desk_writing {
        position: absolute;
        width: 160px;
        height: 70px;
        left: 50px;
        top: 0px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .prescriptions_desk {
        position: absolute;
        width: 300px;
        height: 70px;
        left: 0px;
        top: 215px;
    }

    .prescriptions_desk .prescriptions_desk_image {
        position: absolute;
        width: 32px;
        height: 38px;
        left: 10px;
        top: 18px;

        background-image: url(../icons/prescriptions.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    }

    .prescriptions_desk .prescriptions_desk_writing {
        position: absolute;
        width: 150px;
        height: 70px;
        left: 50px;
        top: 0px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #FFFFFF;

        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .tests_desk {
        position: absolute;
        width: 300px;
        height: 70px;
        left: 0px;
        top: 310px;
    }

    .tests_desk_image {
        position: absolute;
        width: 30px;
        height: 39px;
        left: 12px;
        top: 19px;

        background-image: url(../icons/tests.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    }

    .tests_desk .tests_desk_writing {
        position: absolute;
        width: 60px;
        height: 70px;
        left: 50px;
        top: 0px;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;

        color: #FFFFFF;

        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .dash_page {
        position: absolute;
        top: 10.0022%;
        right: 0%;
        height: 89.9978%;
        width: 78.125%;
    }

    .dash_page .dashboard_text {
        position: absolute;
        top: 2.5%;
        left: 2.5%;
        height: auto;

        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .dash_page .dash_info_pane {
        position: absolute;
        width: 50%;
        top: 10%;
        left: 2.5%;
        height: 50%;
        background: #000000;
    }

    .appointments_page {
        position: absolute;
        top: 110.0022%;
        right: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        width: 78.125%;
    }

    .pers_page {
        position: absolute;
        top: 200%;
        right: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        width: 78.125%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .test_page {
        position: absolute;
        top: 300%;
        right: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        width: 78.125%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}













